@media all and (orientation: landscape) and (max-width: 750px) {
    #left {
        width: 725px;
    }
    #right {
        width:100%
    }
}

@media all and (orientation: portrait) and (max-width: 415px) {
    #left {
        width: 400px;
        align-content: middle;
    }
    #right {
        width: 100%
    }
}
@media all and (orientation: portrait) and (max-width: 375px) {
    #left {
        width: 365px;
        align-content: middle;
    }
    #right {
        width:100%;
    }
    }