#body {
    background-image: url("https://data.whicdn.com/images/264752809/superthumb.jpg?t=1478015637");
    background-position: 2.5rem;
    margin: 0;
    height: 100%;
}

#example {
    font-size: 2.5rem;
    font-family: cursive;
    color: rebeccapurple
}

#span {
    color: gold;
    font-family: cursive;
}

h1 {
    font-weight: bold;
    font-family: cursive;
}

#right {
    float: right
}

#left {
    float: left;
    width: 670px;
    font-size: 30px;
    box-sizing: border-box;
    padding: 50px;
    border-style: double;
    border-color: blueviolet;
    border-width: 30px
}

#linkcolor {
    color: white
    
}

.cursive {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-weight: inherit
}
#background {
    background: linear-gradient(black,red,orange,yellow)
}
a:hover {
    background-color: red;
    font-size: 150%;
}
