body {
    background-image:url("https://data.whicdn.com/images/264752809/superthumb.jpg?t=1478015637");
    background-position: 2.5rem;
    margin: 0;
    height:100%;
}
#example{
    font-size: 2.5rem;
    color: gold
}
#span{
    color:rebeccapurple;
    font-family: cursive
}