#body {
    background-image: url("https://data.whicdn.com/images/264752809/superthumb.jpg?t=1478015637");
    background-position: 2.5rem;
    height: 100%;
}

#example {
    font-size: 2.5rem;
    font-family: 'Gaegu', cursive;
    color: rebeccapurple
}

#span {
    color: black;
    font-family: cursive;
}

h1 {
    font-weight: bold;
    font-family: 'Gaegu', cursive;
}

#right {
    float: right;
    animation-name: appear;
    animation-duration:5s;
}

#left {
    float: left;
    width: 670px;
    font-size: 30px;
    box-sizing: border-box;
    padding: 50px;
    border-style: double;
    border-color: blueviolet;
    border-width: 30px
}

#linkcolor {
    color: white
}

.cursive {
    font-family: 'Gaegu', cursive;
    color: red;
    font-weight: inherit
}

#background {
    background: linear-gradient(black, red, orange, yellow)
}

a:hover {
    background-color: red;
    font-size: 150%;
}

#gaegu {
    font-family: 'Gaegu', cursive;
}

#meriends {
    font-family: 'Merienda', cursive;
}

@keyframes appear {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
