#body {
    background-image: url("https://data.whicdn.com/images/264752809/superthumb.jpg?t=1478015637");
    background-position: 2.5rem;
    height: 100%;
}

#example {
    font-size: 2.5rem;
    font-family: 'Gaegu', cursive;
    color: rebeccapurple
}

#span {
    color: black;
    font-family: cursive;
}

h1 {
    font-weight: bold;
    font-family: 'Gaegu', cursive;
}

#right {
    float: right;
    animation-name: appear;
    animation-duration: 5s;
}

#computeriframe {
    height: 600px;
    width: 100%;
}

#left {
    float: left;
    width: 900px;
    height: 500px;
    font-size: 30px;
    box-sizing: border-box;
    border-style: double;
    border-color: blueviolet;
    border-width: 30px
}

#linkcolor {
    color: black;
}

.cursive {
    font-family: 'Gaegu', cursive;
    color: red;
    font-weight: inherit;
    display: inline-end;
}

#background {
    background: white;
}

a:hover {
    outline-color: blueviolet;
    color: red;
    font-size: 150%;
}

#gaegu {
    font-family: 'Gaegu', cursive;
}

#meriends {
    font-family: 'Merienda', cursive;
}

.signature {
    border-top: 10px;
    border-top-style: solid;
    font-family: 'Gaegu';
    font-size: small;
    height: 65px;
    max-width: 900px;
    padding: 1em;
    float: right;
}

@keyframes appear {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}