body {
    background-image:url("https://data.whicdn.com/images/264752809/superthumb.jpg?t=1478015637");
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    margin: 0;
    height:100%;
}
